/* * {
  outline: 2px solid red;
} */


body {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', Consolas, 'Courier New', monospace;
}


/* Part 1 Header */
.header {
    background-color: #1F2937;
    display: flex;
    /* Aligns items vertically in the center */
    align-items: center;
    /* Distributes space between items, pushing them to the edges */
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    margin-left: 200px;
    color: #F9FAF8;
}

.links {
    font-size: 20px;
    color: #90969b;
    display: flex;
    margin-right: 220px;
    gap: 40px;
}

/* Part 2 Main Content */
.main {
    background-color: #1F2937;
    align-items: center;
    display: flex;
    gap: 70px;
    height: 400px;
}

.section {
    display: flex;
    flex-direction: column;
}

.awesome p {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
    text-align: left;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.description p {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 450px;
}

.img {
    background-color: rgba(211, 211, 211, 0.666);
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 250px;
    width: 600px;
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 10px;
}

.button1 {
    background-color: #4a80ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 18px;
}


/* Part 3 Information */
.information {
    background-color: #ffffff;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 40px;
    padding: 20px;
    color: #1F2937;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containers {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 4px solid blue;
    border-radius: 18px;
    height: 180px;
    width: 180px;
}

.subtext {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 0px;
}

.subtext p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #1F2937;
    height: 100px;
    width: 180px;
    margin-top: 0px;
}


/* Part 4 "Quote" Section */
.quote {
    background-color: #E5E7EB;
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    text-align: left;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #575f6c;
    font-weight: 300;
    font-style: italic;
    width: 800px;
}

.quote-container p {
    height: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.author p {
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 600px;
}

/* Part 5 "Call to action" Section */
.box {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box1 {
    background-color: #3882F6;
    height: 180px;
    width: 1200px;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box2 {
    background-color: #3882F6;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 800px;
    margin-left: 80px;
}

 
.call p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: left;
    margin: 0px;
}

.sign p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: left;
    margin: 0px;
    padding-top: 5px;
}


.button3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 80px;
}

.button4 {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 12px;
    height: 40px;
    width: 130px;
    font-size: 15px;
} 

.footer{
    height: 120px;
    background-color: #1F2937;
}