* {
  outline: 2px solid red;
}


body {
    background-color: white;
}


/* Part 1 Header */
.header {
    background-color: #1F2937;
    display: flex;
    /* Aligns items vertically in the center */
    align-items: center;
    /* Distributes space between items, pushing them to the edges */
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    margin-left: 80px;
    color: #F9FAF8;
}

.links {
    font-size: 20px;
    color: #90969b;
    display: flex;
    margin-right: 220px;
    gap: 40px;
}

/* Part 2 Main Content */
.main {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}


